*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
  }
html,
body {
 height: 100%;
 position: relative;
}
.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 250px; /* height of your footer */
}
footer {
 position: absolute;
 bottom: 0;
 width: 100%;
}
.raleway-h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}
.raleway-p{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.mont{
    font-family: 'Montserrat', sans-serif;
}
.transp-nav{
    background-color: transparent !important;
    transition: 0.2s ease-in-out;
}
.dark-nav{
    background-color: #322e2f;
    transition: 0.2s ease-in-out;
}
.dark-bg{
    background-color: #322e2f;
}
#nav-get-started:hover{
    background-color: rgb(54, 158, 243);
    color: black !important;
}
.br{
    border-radius: 3px;
}
h2{
    font-size: 1.3rem;
}
.h-540{
    height: 400px;
}
.font-12{
    font-size: 1.2rem;
}
.font-25{
    font-size: 2.5rem;
}
.font-15{
    font-size: 1.5rem;
}
.font-08{
    font-size: 0.8rem;
}
.h1{
    font-size: 2.5rem;
}
.theme-dark{
    background-color: #1e1f26;
}
.dark-nav{
    background-color: #1e1f26;
    transition: 0.2s ease-in-out;
}
.text-dark{
    color: #1e1f26 !important;
}
.theme-dark{
    background-color: #1e1f26;
}
.theme-blue-1{
    background-color: #283655;
}
.theme-blue-2{
    background-color: #4D648D;
}
.theme-blue-3{
    background-color: #d0e1f9;
}
.txt-theme-3{
    color: #d0e1f9;
}
.br{
    border-radius: 3px;
}
.dark-bg{
    background-color: #322e2f;
}
/* Intro page */
#intro-page{
    background-image: url('../img/bgblog.png');
    height: 400px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.darker-bg{
    background-color: rgba(0, 0, 0, 0.726);
}
.pos-rel{
    position: relative;
}
/* Blog */
ul li{
    list-style: none;
}
.box-shadow{
    box-shadow: 3px 3px 5px 0px rgba(166,159,166,1);
}
.bg-white{
    background-color: white;
}
.read-more-btn{
    color: white;
}
.read-more-btn:hover{
    background-color: #4D648D;
    color: white;
    text-decoration: none;
}
.color-gray{
    color: gray
}
.border-dashed{
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 1px solid gray;
    border-style:dashed;
}