
@media (min-width: 576px) { 
    h1{
        font-size: 4rem;
    }
    #intro-desc{
        font-size: 2rem;
    }
    .flip-container, .front, .back {
        width: 500px;
        height: 266px;
    }
    .big-mt-sm{
        margin-top: 80px !important;
    }
    .cardTag{
        font-size: 1.2rem;
    }
    .project-btn{
        font-size: 1.5rem;
    }
    .proj-btn{
        display: inline-block !important;
    }
}

@media (min-width: 768px) { 
 
    h1{
        font-size: 5rem;
    }
    .bg-prof{
        display: block !important;
    }
    .img-prof{
        display: none;
    }
    #about-me-txt{
        margin-left: 7%;
    }
    .d-block-md{
        display: block !important;
    }
 }


@media (min-width: 992px) { 
    h1{
        font-size: 6rem;
    } 
    #about-me-txt h2{
        font-size: 3rem;
    }
    #about-me-txt p{
        font-size: 1.2rem;
    }
    .fab{
        font-size: 2rem;
    }
    h2{
        font-size: 3rem;
    }
    .mt-on-small{
        margin: 0px;
    }
    .card-deck{
        display: contents;
    }
}


@media (min-width: 1200px) {  
    #proj-desc{
        display: block !important;
    }
    .modal-desc{
        display: flex;
    }
    .close-sm{
        display: none !important;
    }
}