
@media (min-width: 576px) { 
    h1{
        font-size: 4rem;
    }
    .big-mt{
        margin-top: 50%;
    }
    #intro-desc{
        font-size: 2rem;
    }
    .flip-container, .front, .back {
        width: 500px;
        height: 266px;
    }
    .big-mt-sm{
        margin-top: 80px !important;
    }
    .cardTag{
        font-size: 1.2rem;
    }
    .project-btn{
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) { 
 
    h1{
        font-size: 5rem;
    }
    .bg-prof{
        display: block !important;
    }
    .img-prof{
        display: none;
    }
    #about-me-txt{
        margin-left: 7%;
    }
    .d-block-md{
        display: block !important;
    }
 }


@media (min-width: 992px) { 
    h1{
        font-size: 6rem;
    } 
    .big-mt{
        margin-top: 30%;
    }
    #about-me-txt h2{
        font-size: 3rem;
    }
    #about-me-txt p{
        font-size: 1.2rem;
    }
    .fab{
        font-size: 2rem;
    }
    #skills h2{
        font-size: 3rem;
    }
    #projects h2{
        font-size: 3rem;
    }
    .modal-desc{
        display: flex;
    }
}


@media (min-width: 1200px) {  
    #proj-desc{
        display: block !important;
    }
}